<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You will be surprised!</h1>
    <h3 class="display-3">We all have our heroes!</h3>
 
    
  

   

   <% for(var i=0; i<d1.length; i++) { %>

 
    <p class="secret-text"> <%=d1[i].userSecretMessage %></p>

    <% } %>

    


    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Who is your favourite?</a>
  </div>
</div>

<%- include('partials/footer') %>
